<div class="row" *ngFor="let row of numberGrid$ | async">
  <div class="col mb-3" *ngFor="let col of row">
    <div class="card">
      <div class="card-body text-center">
        <p *ngIf="!col.hidden || DEBUG_MODE"><strong>{{ col.value }}</strong></p>
        <p *ngIf="col.hidden"><button type="button" id="number-grid-btn-{{ col.value }}"
          [disabled]="col.disabled"
          (click)="trackSequence(col, $event)"
          class="btn btn-lg btn-block btn-primary" >&nbsp;</button></p>
      </div>
    </div>
  </div>
</div>