<div class="row">
  <div class="col">
    <p>Playing as <em>{{ username }}</em></p>
  </div>

  <div class="col">
    <h1>{{ title }}</h1>
  </div>

  <div class="col text-right">
      <ul class="list-unstyled mb-0">
        <li>Current score: {{ currentScore$ | async }} 
          <span *ngIf="isHighScore" class="badge badge-pill badge-success">High score!</span>
          <span *ngIf="isNewRecord" class="badge badge-pill badge-success">New record!</span>
        </li>
        <li>Level: {{ currentLevel$ | async }}</li>
        <li>Lives: {{ livesRemaining$ | async }}</li>
      </ul>
    </div>
</div>

<div class="row">
  <div class="col text-center">
    <p>Time remaining: {{ (timeRemainingMs$ | async) / 1000 }} seconds</p>
    <div *ngIf="message$ | async as message" class="alert alert-{{ message.type | messageTypeToClass }}">{{ message.text }}</div>
  </div>
</div>