<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="'/'">{{ title }}</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="'/game'">Play the game</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="gameInProgress">High scores</a>
      <a class="nav-link" *ngIf="!gameInProgress" [routerLink]="'/high-scores'">High scores</a>
    </li>
  </ul>
</nav>

<div class="row justify-content-sm-center" *ngIf="message$ | async as message">
  <div class="col-6-sm text-center">
    <div class="alert alert-{{ message.type | messageTypeToClass }}">{{ message.text }}</div>
  </div>
</div>