<app-game-header></app-game-header>

<app-number-grid></app-number-grid>

<p class="text-center" *ngIf="showRetryBtn"><button 
  type="button"
  class="btn btn-large btn-secondary"
  (click)="startGame(false, false)">Retry</button></p>
<p class="text-center" *ngIf="showRestartBtn"><button 
  type="button"
  class="btn btn-large btn-danger"
  (click)="restart()">Restart</button></p>
<p class="text-center" *ngIf="showStartBtn"><button 
  type="button"
  class="btn btn-large btn-success"
  (click)="startGame(true, true)">Advance to level {{ nextLevel }}</button></p>

<app-start [openInitially]="!started" (modalClosed)="startGame(false, true)" (nameEvent)="setName($event)"></app-start>