<ng-template #content let-modal>
  <div class="modal-body">
    <div class="jumbotron pt-3 pb-3 text-center">
      <ul class="list-unstyled mb-0">
        <li>Remember the sequence while you can</li>
        <li>Copy the sequence once the cards are blanked out</li>
        <li>If you get the sequence right, you can go to the next level!</li>
        <li>If not, you lose a life - you start with 3 lives.</li>
        <li class="mt-3">How far will you get?</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="form-group">
        <label for="name">Your name (optional)</label>
        <input type="text" [(ngModel)]="name" maxlength="5"
          class="form-control" id="name" aria-describedby="nameHelp"
          placeholder="A short name for yourself - 5 characters or less!">
        <small id="nameHelp" class="form-text text-muted">This will be publicly visible - keep it PII-free!</small>
      </div>

      <button type="button" 
        class="btn btn-success btn-lg btn-block" 
        aria-label="Start"
        (click)="modal.dismiss('start')">Start</button>
    </div>
  </div>
</ng-template>